/* go effect: */
@keyframes go {
    from{
        opacity: 0.5;
        transform:translateX(-200px)
        
    }
    to{
        opacity: 1;
    }
}
.fastGoing{
    animation: go 0.2s .0s backwards ease-in-out;

}
.slowGoing{
    animation: go 0.8s .0s backwards ease-in-out;
    
}





/* -------------- */





/* swim effect */
@keyframes opacity {
    from{
        opacity: 0;
        
    }
    to{
        opacity: 1;
    }
}
.slowOpacity{
    animation: opacity 0.9s .0s backwards ease-in-out;

}
.fastOpacity{
    animation: opacity 0.5s .0s backwards ease-in-out;

}





/* -------------- */





/* roll effect */
@keyframes roll {
    from{
        opacity: 0;
        transform: translateX(-600px) rotate(-720deg) scale(0.1);
        
    }
    to{
        opacity: 1;
    }
}
.slowRolling{
    animation: roll 0.8s .0s backwards ease-in-out;

}

.fastRolling{
    animation: roll 0.5s .0s backwards ease-in-out;

}





/* -------------- */





/* rotate effect */
@keyframes rotating {
    from{
        opacity: 0;
        transform: rotate(360deg);
        
    }
    to{
        opacity: 1;
    }
}
.fastRotate{
    animation: rotating 0.3s .0s backwards ease-in-out;

}
.slowRotate{
    animation: rotating 0.8s .0s backwards ease-in-out;

}





/* -------------- */





/* swim effect */
@keyframes swim {
    from{
        opacity: 0;
        transform: translateY(-50px);
        
    }
    to{
        opacity: 1;
    }
}
.fastSwimming{
    animation: swim 0.3s .0s backwards ease-in-out;

}
.slowSwimming{
    animation: swim 0.8s .0s backwards ease-in-out;

}





/* -------------- */





/* color effect */
@keyframes colory {
    0%{
        background-color: rgb(255,128,0);
    }
    5%{
        background-color: rgb(0,128,255);

    }
    10%{
        background-color: rgb(255,0,128);
        
    }
    15%{
        background-color: rgb(128,0,255);

    }
    20%{
        background-color: rgb(128,255,0);
        
    }
    25%{
        background-color: rgb(0,255,128);

    }
    30%{
        background-color: rgb(255,0,0);

    }
    35%{
        background-color: rgb(0,0,255);

    }
    40%{
        background-color: rgb(0,255,0);

    }
    45%{
        background-color: rgb(128,128,190);
        
    }
    50%{
        background-color: rgb(190,128,128);

    }
    55%{
        background-color: rgb(128,190,128);

    }
    60%{
        background-color: rgb(200,150,40);

    }
    65%{
        background-color: rgb(255,255,240);
        
    }
    70%{
        background-color: rgb(10,30,50);
    }
    75%{
        background-color: rgb(15, 201, 191);

    }
    80%{
        background-color: rgb(40,120,80);
        
    }
    85%{
        background-color: rgb(201,70,200);

    }
    90%{
        background-color: rgb(30,15,30);

    }
    95%{
        background-color: rgb(100,80,10);

    }
    100%{
        background-color: rgb(10,60,40);
        
    }
}

.fastColor{
    animation: colory 10s .0s infinite ;

}
.slowColor{
    animation: colory 15s .0s infinite;
}